<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактор презентаций</title>

    <!-- Подключение стилей -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/panzoom/panzoom.css"/>

    <!-- Пользовательские стили -->
    <style>
        /* Стили для панелей */
        .panel-left {
            position: absolute;
            top: 2%;
            left: 1%;
            width: 20%;
            height: 96%;
            background-color: #FFFFFF;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            overflow-y: auto;
            padding: 10px;
            z-index: 2;
        }

        .panel-right {
            position: absolute;
            top: 2%;
            right: 1%;
            width: 20%;
            height: 96%;
            background-color: #FFFFFF;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: auto;
        }

        .panel-template {
            position: absolute;
            top: 2%;
            left: 22%;
            width: 25%;
            height: 50%;
            background-color: #FFFFFF;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            z-index: 2;
            display: none;
        }

        .panel-down {
            position: absolute;
            bottom: 2%;
            left: 50%;
            width: 180px;
            height: 50px;
            background-color: #FFFFFF;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            transform: translateX(-50%);
            z-index: 2;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
        }

        /* Стили для слайдов */
        .main-slide {
            width: 100%;
            padding-top: 56.25%;
            background-color: #FFFFFF;
            color: #333333;
            margin-bottom: 10px;
            border-radius: 5px;
            position: relative;
            text-align: center;
            font-size: 24px;
            line-height: 1.5;
            overflow: hidden;
        }

        .main-slide-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
        }

        .preview-slide {
            width: 100%;
            padding-top: 56.25%;
            background-color: #E0E0E0;
            color: #333333;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
            position: relative;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
            overflow: hidden;
        }

        .preview-slide-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 12px;
            width: 100%;
            height: 100%;
        }

        .preview-slide:hover {
            background-color: #D0D0D0;
        }

        .selected-preview-slide {
            border: 2px solid #0077ff;
            background-color: #C0C0C0;
        }

        /* Другие стили */
        .template-selection {
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: #F5F5F5;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow-y: auto;
            max-height: 80%;
        }

        #myPanzoom {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .dots-background {
            width: 100%;
            height: 100vh;
            position: relative;
            background-color: #F0F0F0;
            --dot-bg: #F5F5F5;
            --dot-color: #505050;
            --dot-size: 1px;
            --dot-space: 22px;
            background: linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
            linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
            var(--dot-color);
        }

        .main-slide-container {
            height: 54vh;
            aspect-ratio: 16 / 9;
            background-color: #FFFFFF;
            color: #333333;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            z-index: 1;
            position: relative;
        }

        .main-slide-content-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            text-align: center;
        }

        body {
            background-color: #F5F5F5;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .editable-container {
            position: relative;
        }
    </style>

    <!-- Стили для нижней панели -->
    <style>
        .dock-item {
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .dock-button {
            background: none;
            border: none;
            cursor: pointer;
            padding: 10px;
            transition: transform 0.3s ease;
        }

        .dock-button:hover {
            transform: scale(1.1) translateY(-5px);
        }
    </style>

    <!-- Подключение скриптов -->
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/panzoom/panzoom.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://malsup.github.io/jquery.blockUI.js"></script>
</head>

<body>
<!-- Левая панель -->
<div class="panel-left">
    <!-- Кнопка для открытия Google Презентаций -->
    <div class="row">
        <div class="col-12">
            <button class="btn mb-2" onclick="openGooglePresentation()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="24" height="24">
                    <path
                            d="M8 4C8 5.10457 7.10457 6 6 6 4.89543 6 4 5.10457 4 4 4 2.89543 4.89543 2 6 2 7.10457 2 8 2.89543 8 4ZM5 16V22H3V10C3 8.34315 4.34315 7 6 7 6.82059 7 7.56423 7.32946 8.10585 7.86333L10.4803 10.1057 12.7931 7.79289 14.2073 9.20711 10.5201 12.8943 9 11.4587V22H7V16H5ZM6 9C5.44772 9 5 9.44772 5 10V14H7V10C7 9.44772 6.55228 9 6 9ZM19 5H10V3H20C20.5523 3 21 3.44772 21 4V15C21 15.5523 20.5523 16 20 16H16.5758L19.3993 22H17.1889L14.3654 16H10V14H19V5Z">
                    </path>
                </svg>
            </button>
        </div>
    </div>

    <!-- Заголовок и разделитель -->
    <div class="row">
        <div class="col-12">
            <p class="ms-2">Презентация</p>
        </div>
        <hr class="w-100">
    </div>

    <!-- Кнопки управления слайдами -->
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-outline-primary mb-2 w-70 py-1 mx-auto"
                    onclick="openTemplateSelection()">Добавить слайд
            </button>
            <button class="btn btn-outline-danger mb-2 w-30 py-1 mx-auto" onclick="deleteSelectedSlide()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash" viewBox="0 0 16 16">
                    <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                    <path
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>
            </button>
        </div>
        <hr class="w-100">
    </div>

    <!-- Контейнер для превью слайдов -->
    <div class="row">
        <div id="slides-selection-container">
        </div>
    </div>
</div>

<!-- Правая панель -->
<div class="panel-right">
    <!-- Панель комментариев -->
    <div id="comment-panel" class="mt-3"
         style="width: 90%; display: block; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 10px; padding: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.1); position: relative; text-align: center;">
        <h5>Комментарии</h5>
        <button id="toggle-comments" onclick="toggleComments()"
                style="position: absolute; top: 10px; right: 10px; background: none; border: none; cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
        </button>
        <hr class="w-100">

        <div id="comments-content">
            <div id="comments-container" class="mb-3">
            </div>
            <button class="btn btn-outline-primary mt-2" onclick="openCommentEditor()">Добавить комментарий</button>
            <div id="comment-editor" style="display: none;" class="mt-3">
                    <textarea id="comment-text" placeholder="Введите комментарий" class="form-control mb-2"
                              rows="3"></textarea>
                <button class="btn btn-outline-success mt-2" onclick="addComment()">Отправить</button>
            </div>
        </div>
    </div>

    <!-- Редактор изображений -->
    <div id="image-editor" class="mt-3"
         style="width: 90%; display: none; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 10px; padding: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.1); position: relative; text-align: center;">
        <button onclick="document.getElementById('image-editor').style.display='none'"
                style="position: absolute; top: 10px; right: 10px; background: none; border: none; cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>
        <h5>Изображение</h5>
        <hr class="w-100">

        <!-- Загрузка изображения с устройства -->
        <input type="file" id="image-upload" accept="image/*" class="form-control mb-2">
        <button class="btn btn-outline-success mt-2" onclick="saveImage()">С устойства</button>

        <hr class="w-100">

        <!-- Добавление изображения по URL -->
        <input type="text" id="image-url" placeholder="Введите URL изображения" class="form-control mb-2">
        <button class="btn btn-outline-info mt-2" onclick="addImageByUrl()">Добавить по URL</button>

        <hr class="w-100">

        <!-- Генерация изображения по промпту -->
        <input type="text" id="image-prompt" placeholder="Введите промпт для генерации" class="form-control mb-2">
        <select id="image-scale" class="form-select mb-2">
            <option value="1">1:1</option>
            <option value="2">16:9</option>
            <option value="3">9:16</option>
        </select>
        <button class="btn btn-outline-primary mt-2" onclick="generateImage()">Сгенерировать</button>
    </div>

    <!-- Редактор текста -->
    <div id="text-editor" class="mt-3"
         style="width: 90%; display: none; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 10px; padding: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.1); position: relative; text-align: center;">
        <button onclick="document.getElementById('text-editor').style.display='none'"
                style="position: absolute; top: 10px; right: 10px; background: none; border: none; cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>
        <h5>Текст</h5>
        <hr class="w-100">
        <!-- Выбор шрифта -->
        <select id="font-select" class="form-select mt-2" onchange="applyFont()">
            <option value="Arial">Arial</option>
            <option value="Courier New">Courier New</option>
            <option value="Georgia">Georgia</option>
            <option value="Times New Roman">Times New Roman</option>
            <option value="Verdana">Verdana</option>
        </select>
        <script>function applyFont() {
            const fontSelect = document.getElementById('font-select');
            const selectedFont = fontSelect.value;
            if (currentTextElement) {
                currentTextElement.style.fontFamily = selectedFont;
            }
        }</script>
        <hr class="w-100">
        <textarea id="text-prompt" placeholder="Введите промпт для изменения текста" class="form-control mb-2"
                  rows="4"></textarea>
        <button class="btn btn-outline-primary mt-2" onclick="reGenerateTextByPrompt()">Изменить</button>


    </div>
</div>

<!-- Панель выбора шаблона -->
<div id="template-panel" class="panel-template">
    <button class="btn mb-2 mt-1 ms-1" onclick="document.getElementById('template-panel').style.display='none'"
            style="width: 30px; height: 30px; padding: 0;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
            <path
                    d="M10.5859 12L2.79297 4.20706L4.20718 2.79285L12.0001 10.5857L19.793 2.79285L21.2072 4.20706L13.4143 12L21.2072 19.7928L19.793 21.2071L12.0001 13.4142L4.20718 21.2071L2.79297 19.7928L10.5859 12Z">
            </path>
        </svg>
    </button>

    <div class="template-selection" style="overflow-y: auto;">
        {% for slide in slides %}
            <div class="rounded-rectangle mb-2" onclick="selectTemplate('{{ slide.name }}')"
                 style="cursor: pointer; border-radius: 10px; overflow: hidden; width: 100%; padding-top: 56.25%; position: relative;">
                <img src="{{ slide.image_title.url|default:'' }}" alt="{{ slide.name_display }}"
                     style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
                <div class="slide-name"
                     style="position: absolute; bottom: 0; left: 0; right: 0; padding: 5px; text-align: center; background-color: rgba(255, 255, 255, 0.7);">
                    {{ slide.name_display }}</div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Нижняя панель -->
<div class="panel-down">
    <div class="dock-item">
        <button class="dock-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                <path
                        d="M13.9093 12.3603L17.0007 20.8537L14.1816 21.8798L11.0902 13.3864L6.91797 16.5422L8.4087 1.63318L19.134 12.0959L13.9093 12.3603Z">
                </path>
            </svg>
        </button>
    </div>
    <div class="dock-item">
        <button class="dock-button" type="button" onclick="exportSlidesToPDF()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="26" height="26" fill="currentColor">
                <path d="M3.9985 2C3.44749 2 3 2.44405 3 2.9918V21.0082C3 21.5447 3.44476 22 3.9934 22H20.0066C20.5551 22 21 21.5489 21 20.9925L20.9997 7L16 2H3.9985ZM10.5 7.5H12.5C12.5 9.98994 14.6436 12.6604 17.3162 13.5513L16.8586 15.49C13.7234 15.0421 10.4821 16.3804 7.5547 18.3321L6.3753 16.7191C7.46149 15.8502 8.50293 14.3757 9.27499 12.6534C10.0443 10.9373 10.5 9.07749 10.5 7.5ZM11.1 13.4716C11.3673 12.8752 11.6043 12.2563 11.8037 11.6285C12.2754 12.3531 12.8553 13.0182 13.5102 13.5953C12.5284 13.7711 11.5666 14.0596 10.6353 14.4276C10.8 14.1143 10.9551 13.7948 11.1 13.4716Z"></path>
            </svg>
        </button>
    </div>
    <div class="dock-item">
        <button class="dock-button" type="button" onclick="exportSlidesToPPTX()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="26" height="26" fill="currentColor">
                <path d="M16 2L21 7V21.0082C21 21.556 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5447 3 21.0082V2.9918C3 2.44405 3.44495 2 3.9934 2H16ZM8 8V16H10V14H16V8H8ZM10 10H14V12H10V10Z"></path>
            </svg>
        </button>
    </div>
    <!-- Добавьте дополнительные элементы по мере необходимости -->
</div>

<!-- Основной контейнер для отображения слайдов -->
<div id="myPanzoom" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="dots-background"
         style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div id="main-slide" class="main-slide-container">
            <div class="main-slide-content-container" id="main-slide-content">
            </div>
        </div>
    </div>
</div>


</body>

<!-- Скрипты -->
<script>
    // Инициализация переменных
    let selectedTemplate = '';
    let slideCount = 0;
    let selectedSlide = null;

    // Настройка Panzoom для масштабирования и перемещения слайдов
    const container = document.getElementById("myPanzoom");
    const options = {
        minScale: 0.7,
        maxScale: 3,
        panOnlyZoomed: false,
        click: true,
        wheel: true,
        pinchToZoom: true
    };

    const instance = new Panzoom(container, options);

    container.addEventListener('wheel', (event) => {
        instance.zoomWithWheel(event);
    });

    // Загрузка шаблонов слайдов
    const templates = {};
    {% for slide in slides %}
        templates['{{ slide.name }}'] = {
            template: '{{ slide.name }}',
            theme: '{{ slide.theme.name }}',
            html: `{{ slide.html|safe|default:'' }}`,
            image_title: `{% if slide.image_title %}{{ slide.image_title.url|default:'' }}{% else %}''{% endif %}`,
            image_background: `{% if slide.image_background %}{{ slide.image_background.url|default:'' }}{% else %}''{% endif %}`
        };
    {% endfor %}

    // Функции для работы с шаблонами и слайдами
    function openTemplateSelection() {
        document.getElementById('template-panel').style.display = 'block';
    }

    function selectTemplate(index) {
        selectedTemplate = templates[index];
        console.log(selectedTemplate);
        addSlide();
        document.getElementById('template-panel').style.display = 'none';
    }

    function addSlide() {
        // Создание нового слайда
        slideCount++;
        const mainSlide = document.createElement('div');
        mainSlide.className = 'main-slide';
        mainSlide.setAttribute('data-slide-number', slideCount);
        mainSlide.setAttribute('data-template', selectedTemplate.template);
        const mainSlideContent = document.createElement('div');
        mainSlideContent.className = 'main-slide-content';
        mainSlideContent.innerHTML = selectedTemplate.html;

        // Установка фонового изображения
        const backgroundImage = mainSlideContent.querySelector('#image_background');
        if (backgroundImage) {
            backgroundImage.src = selectedTemplate.image_background || '';
        }

        mainSlide.appendChild(mainSlideContent);

        // Создание превью слайда
        const previewSlide = document.createElement('div');
        previewSlide.className = 'preview-slide';
        previewSlide.setAttribute('data-slide-number', slideCount);

        const previewSlideContent = document.createElement('div');
        previewSlideContent.className = 'preview-slide-content';
        previewSlideContent.innerHTML = `<img src="${selectedTemplate.image_title || ''}" alt="Превью слайда ${slideCount}" style="width: 100%; height: 100%; object-fit: cover;">`;
        previewSlide.appendChild(previewSlideContent);

        previewSlide.onclick = function () {
            selectSlide(previewSlide);
        };

        document.getElementById('slides-selection-container').appendChild(previewSlide);
        document.getElementById('main-slide-content').appendChild(mainSlide);

        selectSlide(previewSlide);
    }

    function deleteSelectedSlide() {
        if (selectedSlide && slideCount > 1) {
            const slideNumber = selectedSlide.getAttribute('data-slide-number');
            const mainSlide = document.querySelector(`#main-slide-content .main-slide[data-slide-number="${slideNumber}"]`);
            const previewSlide = document.querySelector(`#slides-selection-container .preview-slide[data-slide-number="${slideNumber}"]`);

            if (mainSlide) mainSlide.remove();
            if (previewSlide) previewSlide.remove();

            selectedSlide = null;

            const remainingSlides = document.querySelectorAll('#slides-selection-container .preview-slide');
            if (remainingSlides.length > 0) {
                selectSlide(remainingSlides[0]);
            }
            savePresentation();
        }
    }

    function selectSlide(previewSlide) {
        const previewSlides = document.querySelectorAll('.preview-slide');
        previewSlides.forEach(s => s.classList.remove('selected-preview-slide'));

        previewSlide.classList.add('selected-preview-slide');

        const mainSlides = document.querySelectorAll('#main-slide-content .main-slide');
        mainSlides.forEach(s => s.style.display = 'none');

        const slideNumber = previewSlide.getAttribute('data-slide-number');
        const mainSlide = document.querySelector(`#main-slide-content .main-slide[data-slide-number="${slideNumber}"]`);
        if (mainSlide) {
            mainSlide.style.display = 'block';
        }

        selectedSlide = previewSlide;

        document.getElementById('main-slide').style.display = 'block';
    }

    // Загрузка слайдов при загрузке страницы
    window.onload = function () {
        {% for slide in instance %}
            addSlidesFromJSON({
                template: "{{ slide.template }}",
                content: {
                    {% for key, value in slide.content.items %}
                        "{{ key }}": "{{ value }}",
                    {% endfor %}
                }
            });
        {% endfor %}
    };

    function addSlidesFromJSON(jsonData) {
        const slides = Array.isArray(jsonData) ? jsonData : [jsonData];
        console.log(slides);
        slides.forEach(slide => {
            const template = templates[slide.template];
            if (!template) {
                console.error('Шаблон не найден для слайда:', slide.template);
                return;
            }

            let slideContent = template.html;
            const parser = new DOMParser();
            const doc = parser.parseFromString(slideContent, 'text/html');

            for (const [id, content] of Object.entries(slide.content)) {
                const element = doc.querySelector(`[data-id="${id}"]`);
                if (element) {
                    if (id.startsWith('img-')) {
                        element.src = content;
                    } else {
                        element.textContent = content;
                    }
                }
            }

            selectedTemplate = {
                html: doc.body.innerHTML,
                image_title: template.image_title,
                image_background: template.image_background,
                template: template.template
            };
            addSlide();
        });
    }
</script>

<!-- Скрипты для работы с текстовым редактором -->
<script>
    // Открытие текстового редактора
    function openTextEditor(text) {
        currentTextElement = text;
        document.getElementById('text-editor').style.display = 'block';
    }

    // Регенерация текста с помощью ИИ
    function reGenerateTextByPrompt() {
        const textPrompt = document.getElementById('text-prompt').value;
        const formData = new FormData();
        formData.append('text_prompt', textPrompt);
        formData.append('text', currentTextElement.textContent);

        // Показываем индикатор загрузки
        $.blockUI({
            message: '<div class="spinner-border text-white" role="status"><span class="visually-hidden">Загрузка...</span></div>',
            css: {
                border: 'none',
                backgroundColor: 'transparent'
            }
        });

        // Отправляем запрос на сервер
        fetch('{% url 're_generate_text' %}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    currentTextElement.textContent = data.text;
                } else {
                    alert('Ошибка при генерации текста.');
                }
            })
            .finally(() => {
                $.unblockUI();
                savePresentation();
            });
    }
</script>

<!-- Скрипты для работы с изображениями -->
<script>
    // Открытие редактора изображений
    function openImageEditor(img) {
        currentImageElement = img;
        document.getElementById('image-editor').style.display = 'block';
    }

    // Генерация изображения с помощью ИИ
    function generateImage() {
        const imagePrompt = document.getElementById('image-prompt').value;
        const formData = new FormData();
        formData.append('image_prompt', imagePrompt);
        formData.append('image_scale', document.getElementById('image-scale').value);

        // Показываем индикатор загрузки
        $.blockUI({
            message: '<div class="spinner-border text-white" role="status"><span class="visually-hidden">Загрузка...</span></div>',
            css: {
                border: 'none',
                backgroundColor: 'transparent',
                color: '#fff'
            }
        });

        // Отправляем запрос на сервер
        fetch('{% url 'generate_image' %}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    if (currentImageElement) {
                        currentImageElement.src = data.url;
                    }
                    savePresentation();
                } else {
                    alert('Ошибка при генерации изображения.');
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert('Ошибка при генерации изображения.');
            })
            .finally(() => {
                $.unblockUI();
                savePresentation();
            });
    }

    // Сохранение загруженного изображения
    function saveImage() {
        const fileInput = document.getElementById('image-upload');
        const file = fileInput.files[0];
        if (file) {
            const formData = new FormData();
            formData.append('image', file);

            fetch('/upload_image/', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        if (currentImageElement) {
                            currentImageElement.src = data.url;
                        }
                        savePresentation();
                    } else {
                        alert('Ошибка при загрузке изображения.');
                    }
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                    alert('Ошибка при загрузке изображения.');
                })
                .finally(() => {
                    savePresentation();
                });
        }
    }

    // Добавление изображения по URL
    function addImageByUrl() {
        const urlInput = document.getElementById('image-url');
        const url = urlInput.value;
        if (url) {
            if (currentImageElement) {
                currentImageElement.src = url;
            }
        }
        savePresentation();
    }
</script>

<!-- Скрипты для работы с комментариями -->
<script>
    let comments = {{ comments| safe }};

    // Открытие редактора комментариев
    function openCommentEditor() {
        document.getElementById('comment-editor').style.display = 'block';
    }

    // Переключение видимости комментариев
    function toggleComments() {
        var content = document.getElementById('comments-content');
        var button = document.getElementById('toggle-comments');
        if (content.style.display === 'none') {
            content.style.display = 'block';
            button.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>';
        } else {
            content.style.display = 'none';
            button.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="18 15 12 9 6 15"></polyline></svg>';
        }
    }

    // Добавление нового комментария
    function addComment() {
        const commentText = document.getElementById('comment-text').value;
        if (commentText.trim() !== '') {
            const formData = new FormData();
            formData.append('comment', commentText);

            fetch(`/add_comment/{{ presentation.id }}/`, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        comments.push(data.comment);
                        displayComments();
                        document.getElementById('comment-text').value = '';
                        document.getElementById('comment-editor').style.display = 'none';
                    } else {
                        alert('Ошибка при добавлении комментария.');
                    }
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                    alert('Ошибка при добавлении комментария.');
                });
        }
    }

    // Отображение комментариев
    function displayComments() {
        const commentsContainer = document.getElementById('comments-container');
        commentsContainer.innerHTML = '';
        comments.forEach(comment => {
            const commentDiv = document.createElement('div');
            commentDiv.className = 'container comment-container mb-2 p-2 border rounded';
            commentDiv.style.backgroundColor = 'white';
            commentDiv.innerHTML = `
                    <div class="row">
                        <div class="col">
                            <p>${comment.text}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-sm btn-outline-primary" onclick="fixComment(${comment.id})">Исправить с ИИ</button>
                            <button class="btn btn-sm btn-outline-success" onclick="deleteComment(${comment.id})">Ок</button>
                        </div>
                    </div>
                `;
            commentsContainer.appendChild(commentDiv);
        });
    }

    // Удаление комментария
    function deleteComment(commentId) {
        const formData = new FormData();
        formData.append('comment_id', commentId);

        fetch(`/delete_comment/{{ presentation.id }}/`, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    comments = comments.filter(c => c.id !== commentId);
                    displayComments();
                } else {
                    alert('Ошибка при удалении комментария.');
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert('Ошибка при удалении комментария.');
            });
    }

    // Исправление комментария с помощью ИИ
    function fixComment(commentId) {
        const comment = comments.find(c => c.id === commentId);
        $.blockUI({
            message: '<div class="spinner-border text-white" role="status"><span class="visually-hidden">Загрузка...</span></div>',
            css: {
                border: 'none',
                backgroundColor: 'transparent',
                color: '#fff'
            }
        });
        if (comment) {
            const formData = new FormData();
            formData.append('comment_text', comment.text);

            fetch(`{% url 'fix_comment' presentation.id %}`, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        console.log('Комментарий успешно исправлен');
                        location.reload();
                    } else {
                        alert('Ошибка при исправлении комментария.');
                    }
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                    alert('Ошибка при исправлении комментария.');
                });
        }
    }

    // Инициализация отображения комментариев при загрузке страницы
    document.addEventListener('DOMContentLoaded', function () {
        displayComments();
    });
</script>

<!-- Скрипт для сохранения презентации -->
<script>
    function savePresentation() {
        const slidesJson = slidesToJson();
        const presentationId = {{ presentation.id }}

        const csrfToken = '{{ csrf_token }}';

        const form = new FormData();
        form.append('slides', slidesJson);

        fetch(`/save/${presentationId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken
            },
            body: form
        })
            .then(response => response.json())
            .then(data => {
                if (data.status !== 'success') {
                    alert('Ошибка при сохранении презентации.');
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert('Ошибка при сохранении презентации.');
            });
    }
</script>

<!-- Скрипты для работы с шаблонами и слайдами -->
<script>
    // Преобразование шаблонов в JSON
    function templatesToJson(templates) {
        const parser = new DOMParser();
        const result = [];

        Object.keys(templates).forEach(templateName => {
            const template = templates[templateName];
            const doc = parser.parseFromString(template.html, 'text/html');
            const elements = doc.querySelectorAll('[data-id][data-name]');
            const fields = {};

            elements.forEach(el => {
                const id = el.getAttribute('data-id');
                const name = el.getAttribute('data-name');
                fields[id] = name;
            });

            result.push({
                name: templateName,
                fields: fields
            });
        });

        return result;
    }

    // Преобразование слайдов в JSON
    function slidesToJson() {
        const result = [];
        const slideContainer = document.getElementById('main-slide-content');
        const slides = slideContainer.querySelectorAll('.main-slide');

        slides.forEach(slide => {
            const content = {};
            const elements = slide.querySelectorAll('[data-id]');

            elements.forEach(el => {
                const id = el.getAttribute('data-id');
                if (id.startsWith('img-')) {
                    content[id] = el.src;
                } else {
                    content[id] = el.textContent.replace(/\n/g, ' ').trim();
                }
            });

            result.push({
                template: slide.getAttribute('data-template'),
                content: content
            });
        });

        return JSON.stringify(result).replace(/"/g, '\\"').replace(/\n/g, '');
    }

    // Вывод шаблонов в консоль (для отладки)
    const templatesJson = templatesToJson(templates);
    console.log(templatesJson);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/pptxgenjs@3.12.0/dist/pptxgen.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
        integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    function exportSlidesToPPTX() {
        const mainSlideContent = document.getElementById('main-slide-content');
        const slides = mainSlideContent.querySelectorAll('.main-slide');

        var pptx = new PptxGenJS();

        slides.forEach((slide, index) => {
            html2canvas(slide).then(canvas => {
                const imgData = canvas.toDataURL('image/png').replace(/^data:image\/(png|jpg);base64,/, '');
                let slidePptx = pptx.addSlide();
                slidePptx.addImage({
                    data: 'data:image/png;base64,' + imgData,
                    x: 0,
                    y: 0,
                    w: "100%",
                    h: "100%"
                });

                if (index === slides.length - 1) {
                    console.log(pptx);
                    pptx.writeFile();
                }
            });
        });

    }


    function exportSlidesToPDF() {
        $.blockUI({
            message: '<div class="spinner-border text-white" role="status"><span class="visually-hidden">Загрузка...</span></div>',
            css: {
                border: 'none',
                backgroundColor: 'transparent',
                color: '#fff'
            }
        });
        const mainSlideContent = document.getElementById('main-slide-content');
        const slides = mainSlideContent.querySelectorAll('.main-slide');

        let container = document.createElement('div');
        container.style.display = 'flex';
        container.style.flexDirection = 'column';

        slides.forEach((slide, index) => {
            slide.style.display = 'block'; // Сделать слайд видимым
            container.appendChild(slide.cloneNode(true));
        });

        // Настроить параметры для PDF
        const opt = {
            margin: 0,
            filename: `slide-.pdf`,
            image: {type: 'jpeg', quality: 0.98},
            html2canvas: {scale: 2},
            jsPDF: {unit: 'in', format: 'letter', orientation: 'landscape'}

        };

        // Генерация PDF для каждого слайда
        html2pdf(container, opt);

        setTimeout(() => {
            slides.forEach(slide => {
                slide.style.display = 'none'; // Сделать слайд невидимым
            });

        }, 100);

        setTimeout(() => {
            window.location.reload();

        }, 2000);
    }

</script>

</html>